<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light bg-light">
  <mdb-navbar-brand >
    <a class="navbar-brand" routerLink="/"  >
      <img src="assets/img/vroumvroumlesvoitures-logo.png" width="100" alt="Logo">
    </a>
  </mdb-navbar-brand>
  <links>
       <ul class="nav navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link waves-light" routerLink="reservations/" mdbWavesEffect>Mes résevations</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" routerLink="annonces/" mdbWavesEffect>Mes annonces</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" routerLink="statistiques" mdbWavesEffect>Statistiques</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" routerLink="vehicules" mdbWavesEffect>Vehicules Société</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" routerLink="chauffeurs" mdbWavesEffect>Chauffeurs</a>
        </li>
      </ul>
  </links>
</mdb-navbar>