<div class="card text-center">
    <div class="card-header">
        {{chauffeur?.nom}} {{chauffeur?.prenom}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <img src="{{chauffeur?.photoUrl}}" alt="{{chauffeur?.nom}} {{chauffeur?.prenom}}" style="max-width:100%" width="100" height="100" >
            </div>
            
            <div class="col-9">
                {{chauffeur?.nom}}<br/>
                {{chauffeur?.prenom}}<br/>
                {{chauffeur?.permis}}<br/>
                {{chauffeur?.email}}<br/>
                {{chauffeur?.telephone}}<br/>
            </div>
        </div>
    </div>
  </div>