<br>
<div class="border">
    Date et horaire
</div>
<div class="container border">
    
        <div class="row">
            <div class="col-3 text-right " style="margin-top:0.6em;">Date / heure*</div>
            <div class="col-2 text-left" style="margin-top:0.4em;"><input type="datetime-local" id="dateHeure" class="form-control form-control-sm"></div>
            <div class="col-1" style="margin-top:0.5em;" ><mdb-icon icon="calendar" size="lg"></mdb-icon></div>
            <div class="col-4" style="margin-top:0.5em;">
                <select>
                    <option *ngFor='let heure of [01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]' value="{{heure}}">{{heure}}</option>
                </select>
                h
                <select>
                    <option *ngFor='let heure of [00,10,20,30,40,50]' value="{{heure}}">{{heure}}</option>
                </select>
            </div>
        </div>
        <br>
    
</div>
