<br>
<div class="border">
    Date et horaire
</div>
<div class="container border">
    
        <div class="row">
            <div class="col-3 text-right " style="margin-top:0.6em;">Date / heure*</div>
            <div class="col-2 text-left" style="margin-top:0.4em;">
                <input type="date" id="dateHeure" class="form-control form-control-sm"
                [(ngModel)]="dateDepart" (ngModelChange)="onDateChange($event)"
                #champDate="ngModel" required>
            </div>
            <div class="col-1" style="margin-top:0.5em;" ><mdb-icon icon="calendar" size="lg"></mdb-icon></div>
            <div class="col-2" style="margin-top:0.5em;">
                <select class="form-control form-control-sm" [(ngModel)]="heureDepart" (ngModelChange)="onHoureCHange($event)">
                    <option *ngFor='let heure of [01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]' value="{{heure}}">{{heure}}</option>
                </select>
            </div>
            h
            <div class="col-2" style="margin-top:0.5em;">
                    <select class="form-control form-control-sm" [(ngModel)]="minuteDepart" (ngModelChange)="onMinuteCHange($event)">
                        <option *ngFor='let heure of [00,10,20,30,40,50]' value="{{heure}}">{{heure}}</option>
                    </select>
            </div>
            min
            <div *ngIf="champDate.invalid && champDate.dirty">
                    L'adresse d'arrivée' est une adresse inconnue.
            </div>
        </div>
        <br>
    
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAI-Xa9jqwXSzHVG3IKNKgT_J74qpx3Oo8&libraries=places&callback=initAutocomplete"
        async defer></script>
</div>
