<div class="card text-center">
    <div class="card-body">
        <img src="{{vehicule?.photoUrl}}" alt="{{vehicule?.immatriculation}}" style="max-width:100%" width="150" height="100" >
    </div>
    <div class="card-footer text-muted" style="border:0px;">
        <div>
            <p>
                {{vehicule.immatriculation}}<br/>
                {{vehicule?.marque}} - {{vehicule?.modele}}<br/>
                {{vehicule?.categorie}}
            </p>
        </div>
        <div class="row">
          <div class="col-12">
            <div *ngIf="vehicule.etat == 'En service'">
              <button color="indigo" mdbwaveseffect="" rounded="true"  type="button" class="btn btn-indigo btn-rounded btn-lg btn-block" ng-reflect-color="cindigo" ng-reflect-rounded="true" ng-reflect-size="sm" (click)="details(vehicule.id)">Détails</button>
            </div>
            <div *ngIf="vehicule.etat == 'En réparation'">
                <button color="yellow" mdbwaveseffect="" rounded="true"  type="button" class="btn btn-yellow btn-rounded btn-lg btn-block" ng-reflect-color="yellow" ng-reflect-rounded="true" ng-reflect-size="sm" (click)="details(vehicule.id)">Détails</button>
            </div>
            <div *ngIf="vehicule.etat == 'Hors service'">
                <button color="red" mdbwaveseffect="" rounded="true"  type="button" class="btn btn-red btn-rounded btn-lg btn-block" ng-reflect-color="red" ng-reflect-rounded="true" ng-reflect-size="sm" (click)="details(vehicule.id)">Détails</button>
            </div>
          </div>
          <div class="col-12"> 
            <button color="indigo" mdbbtn="" mdbwaveseffect="" rounded="true" size="" type="button" class="btn btn-indigo btn-rounded btn-lg btn-block" ng-reflect-color="indigo" ng-reflect-rounded="true" ng-reflect-size="sm" (click)="modifier()">Modifier</button>
          </div> 
          <div class="col-12"> 
            <button color="indigo" mdbbtn="" mdbwaveseffect="" rounded="true" size="" type="button" class="btn btn-indigo btn-rounded btn-lg btn-block" ng-reflect-color="indigo" ng-reflect-rounded="true" ng-reflect-size="sm" (click)="supprimer()">Supprimmer</button>
          </div>
        </div>
    </div>
  </div>

  <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}" style="overflow: auto;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Véhicule</h4>
      </div>
      <div class="modal-body mx-3">
        <form role="form" (ngSubmit)="submit()" #monForm="ngForm">
          <div class="form-group">
            <label for="immatriculation">Immatriculation (Format 00-AAA-00)</label>
            <input type="text" name="immatriculation" class="form-control" [(ngModel)]="newVehicule.immatriculation" #immatriculation="ngModel"
              required >
          </div>
          <div class="form-group">
            <label for="marque">Marque</label>
            <input type="text" name="marque" class="form-control" [(ngModel)]="newVehicule.marque" #marque="ngModel" required>
          </div>
          <div class="form-group">
            <label for="modele">Modèle</label>
            <input type="text" name="modele" class="form-control" [(ngModel)]="newVehicule.modele" #modele="ngModel" required>
          </div>
          <div class="form-group">
            <select class="browser-default" name="categorie" [(ngModel)]="newVehicule.categorie" #categorie="ngModel" class="form-control"
              requiered>
              <option value="" disabled selected>Catégorie</option>
              <option *ngFor="let ct of optionsSelectCategories; let i = index" value="{{i}}">{{ct}}</option>
            </select>
          </div>
          <div class="form-group">
            <select class="browser-default" name="places" [(ngModel)]="newVehicule.places" #places="ngModel" class="form-control" requiered>
              <option value="" disabled selected>Nombre de places</option>
              <option *ngFor="let pl of optionsSelectPlaces" value="{{pl}}">{{pl}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="photoUrl">Photo URL</label>
            <input type="url" name="photoUrl" class="form-control" [(ngModel)]="newVehicule.photoUrl" #photoUrl="ngModel" required>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <div>
          <button mdbBtn color="blue" class="waves-light" mdbWavesEffect (click)="cancel()">Annuler</button>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="!monForm.valid" class="btn btn-default pull-right" (click)="submit()">Modifier</button>
        </div>
      </div>
    </div>
  </div>
</div>

