<div class="card text-center">
    <div class="card-body">
        <img src="{{vehicule?.photoUrl}}" alt="{{vehicule?.immatriculation}}" style="max-width:100%" width="100" height="100" >
    </div>
    <div class="card-footer text-muted">
        <div>
            <p>
                {{vehicule?.immatriculation}}<br/>
                {{vehicule?.marque}} - {{vehicule?.modele}}<br/>
                {{vehicule?.categorie}}
            </p>
        </div>
        <div>
            <button type="button" class="btn btn-outline-premary" (click)="modifier(vehicule.id)">Modifier</button>
            <button type="button" class="btn btn-outline-premary" (click)="supprimer(vehicule.id)">Supprimer</button>
        </div>
    </div>
  </div>