<br>
<div class="border">
    Véhicule
</div>
<div class="container border">
    
        <div class="row">
            <div class="col-3 text-right " style="margin-top:0.6em;">Immatriculation*</div>
            <div class="col-9 text-left" style="margin-top:0.4em;">
                <input type="text" id="immat" class="form-control form-control-sm"
                [(ngModel)]="immatriculation" (ngModelChange)="onImmatriculationChange($event)"
                #champImmatriculation="ngModel" required><br>
            </div>
            <div *ngIf="champImmatriculation.invalid && champImmatriculation.dirty">
                L'immatriculation est obligatoire.
            </div>
        </div>
        <div class="row">
                <div class="col-3 text-right" style="margin-top:0.3em;"><label id="marque">Marque*</label></div>
                <div class="col-9 text-left"><input type="text" id="marque" class="form-control form-control-sm"
                    [(ngModel)]="marque" (ngModelChange)="onMarqueChange($event)"
                    #champMarque="ngModel" required><br></div>
        </div>
        <div *ngIf="champMarque.invalid && champMarque.dirty">
                La marque est obligatoire.
            </div>
        <div class="row">
            <div class="col-3 text-right" style="margin-top:0.3em;"><label id="model">Modèle*</label></div>
            <div class="col-9 text-left"><input type="text" id="model" class="form-control form-control-sm" name="champModel"
                [(ngModel)]="model" (ngModelChange)="onModelChange($event)" 
                #champModel="ngModel" required><br>
            </div>
            <div *ngIf="champModel.invalid && champModel.dirty">
                Le modèle est obligatoire.
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-right" style="margin-top:0.3em;"><label id="nbPlaces">Nombre de places disponibles*</label></div>
            <div class="col-1 text-left"><input type="number" id="nbPlace" class="form-control form-control-sm" name="champNbPlace" 
                [(ngModel)]="nbPlace" (ngModelChange)="onNbPlaceChange($event)" 
                #champNbPlace="ngModel" required min="5">
            </div>
            <div *ngIf="champNbPlace.invalid && champNbPlace.dirty">
                Le nombre de places disponibles est un nombre compris entre 1 et 20.
            </div>
        </div>
        <br>
    
</div>
